//1- variables
//2- nesting at scss
//3- @ rules
//4- @ extend class name
//5- @ import files
//6- @for
//7- @if
//8- @mixin

 

$fontSize: 10px;
$fontFamily : segeo ui light;
$width : 200px;
$height: 200px;
$fontWeight: 700;
$black : black;
$direction : ltr;
$left : left;
$right : right;

    @if $direction == ltr {
        $left :left;
        $right: right;
    } @else {

        $left: right;
        $right: left;

    }




// dry donot repeat your self'

@import 'colors.scss';
@import '_spacing.scss';

.common {
    width: $width;
    height: $height;
    background-color: $color;
    color: $black;
}
.parent {
    // 1 to 5
    // @for $i from 1 to 6 
    // {

    // }
    
    // 1 to 5
    @for $i from 1 through 5 {
        .child#{$i}{
            background-color: rgba(2 * $i, 3 * $i, 4 * $i, 1/$i);
            width: $width * $i;
            
        }
    }




    
    // @extend .common;
    &:hover {
        color: #09c;
    }

    font: {
        size: 10px;
        weight: 700;
    }
    

    background-color: $color;

    // .child1 {
    //     background-color: $mainColor;

    //     &:hover {
    //         background-color: $mainColor;
    //     }
    // }

    // .child2 {
    //     background-color: $color;

    //     .child3 {
    //         background-color: $mainColor;
    //     }
    // }
}





div {
    color: $mainColor;
    width: $width;
    height: $height;
    font-weight: $fontWeight;
}

h1 {
    color: $mainColor;
}

button {
    border: 1px solid $mainColor;
}

p {
    text-shadow: 1px 1px $mainColor;
}


.one{
    @extend .common;
    float: $left;
}
.two {
    @extend .common;
    background-color: #09C;
    float: $right;
}